body {
    background: #f5f6fa;
font-family: 'Oswald', sans-serif;

    overflow: scroll;
}

.index {
    width: auto;
    height: auto;
}

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}


.masthead {
    color: white;
    min-height: 500px;
    width: auto;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .masthead {
      
      height: 100%;
      width: auto;
    
      
    }
  
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}