<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/aprobar/{{link.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="actividad" class="form-control" readonly  value="{{link.actividad}}">
                </div>
                <div class="form-group">
                    <input type="text" name="coach" class="form-control" readonly value="{{link.namecoach}}">
                </div>
                <div class="form-group">
                    <input type="text" name="fecha_act" class="form-control" readonly value="{{moment link.fecha_act "DD/MM/YYYY"}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" style="width: 100%">
                        Aprobar
                    </button>
                    
                </div>
            </form>
        </div>
        <a href="links/list" class="btn btn-outline-danger btn-sm  btn-block"style="width: 100%">Cancelar</a>
    </div>
</div>