<div class="container p-4 mx-auto">
    <div class="row">
    {{!-- <iframe title="DENUEMETRONOT052022 v2 - Página 1" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiYzY2ZGNiMDItM2I4NS00ZGMzLWI1ODUtNTJiODU3MzNjNDNhIiwidCI6IjU0NDhkNTJkLWZiYjgtNDI4NS04ZDZmLWFhNjc0NTNiYzUwYyJ9" frameborder="0" allowFullScreen="true"></iframe> --}}
    {{!-- <iframe title="Report Section" width="1280" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiZTdiM2E2ZjEtNWM1OC00M2ViLThkYzAtZTJhNmNlMGNmM2M4IiwidCI6IjZjNmJjYTQ1LWUzN2UtNGQwMC1hZTk1LTZhMmU0NzM2ZmE4NiJ9" frameborder="0" allowFullScreen="true"></iframe>   --}} 
    </div>
</div>