<div class="container p-4 mx-auto">
    <div class="row">
    <iframe title="DENUEMETRONOT052022" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=b6c64c37-5bfa-4bfd-b5da-01583d65e096&autoAuth=true&ctid=5448d52d-fbb8-4285-8d6f-aa67453bc50c" frameborder="0" allowFullScreen="true"></iframe>   
    </div>
</div>